USE [master]
GO
/****** Object:  Database [AnimalHospital]    Script Date: 2/20/2018 6:37:28 PM ******/
CREATE DATABASE [AnimalHospital]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AnimalHospital', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\AnimalHospital.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AnimalHospital_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\AnimalHospital_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AnimalHospital].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AnimalHospital]
GO
USE [AnimalHospital]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 2/20/2018 6:37:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[Address_ID] [int] NOT NULL,
	[Owner_ID] [int] NOT NULL,
	[Address_Type] [varchar](30) NULL,
	[AddressOtherDesc] [varchar](30) NULL,
	[AddressLine1] [varchar](30) NULL,
	[AddressLine2] [varchar](30) NULL,
	[City] [varchar](30) NULL,
	[State] [varchar](30) NULL,
	[Postal_Code] [int] NULL,
 CONSTRAINT [PK_Address] PRIMARY KEY CLUSTERED 
(
	[Address_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Completed Prodecures]    Script Date: 2/20/2018 6:37:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Completed Prodecures](
	[Completed_Procedure_ID] [int] NOT NULL,
	[Procedure_ID] [int] NULL,
	[Pet_ID] [int] NULL,
 CONSTRAINT [PK_Completed Prodecures] PRIMARY KEY CLUSTERED 
(
	[Completed_Procedure_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 2/20/2018 6:37:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[Invoice_ID] [int] IDENTITY(1,1) NOT NULL,
	[Owner_ID] [int] NULL,
	[Invoice_Date] [date] NULL,
	[Price] [decimal](18, 0) NULL,
	[Tax] [float] NULL,
 CONSTRAINT [PK_Invoice] PRIMARY KEY CLUSTERED 
(
	[Invoice_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Owner]    Script Date: 2/20/2018 6:37:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Owner](
	[Owner_First_Name] [varchar](30) NOT NULL,
	[Owner_Last_Name] [varchar](30) NOT NULL,
	[Owner_ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Owner] PRIMARY KEY CLUSTERED 
(
	[Owner_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pet]    Script Date: 2/20/2018 6:37:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pet](
	[Pet_ID] [int] IDENTITY(1,1) NOT NULL,
	[Pet_Name] [varchar](30) NOT NULL,
	[Type_ID] [int] NOT NULL,
	[Pet_Age] [int] NOT NULL,
	[Owner_ID] [int] NOT NULL,
	[Last_Vist_Date] [date] NOT NULL,
 CONSTRAINT [PK_Pet] PRIMARY KEY CLUSTERED 
(
	[Pet_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pet_Type]    Script Date: 2/20/2018 6:37:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pet_Type](
	[Type_ID] [int] NOT NULL,
	[Pet_Type] [varchar](30) NULL,
 CONSTRAINT [PK_Pet_Type] PRIMARY KEY CLUSTERED 
(
	[Type_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pricing]    Script Date: 2/20/2018 6:37:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pricing](
	[Type_ID] [int] NOT NULL,
	[Procedure_ID] [int] NOT NULL,
	[Price] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_Pricing] PRIMARY KEY CLUSTERED 
(
	[Type_ID] ASC,
	[Procedure_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Procedure]    Script Date: 2/20/2018 6:37:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Procedure](
	[Procedure_ID] [int] NOT NULL,
	[Description] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Procedure] PRIMARY KEY CLUSTERED 
(
	[Procedure_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [fk_addressOwnerID] FOREIGN KEY([Owner_ID])
REFERENCES [dbo].[Owner] ([Owner_ID])
GO
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [fk_addressOwnerID]
GO
ALTER TABLE [dbo].[Completed Prodecures]  WITH CHECK ADD  CONSTRAINT [FK_Completed Prodecures_Completed Prodecures] FOREIGN KEY([Completed_Procedure_ID])
REFERENCES [dbo].[Completed Prodecures] ([Completed_Procedure_ID])
GO
ALTER TABLE [dbo].[Completed Prodecures] CHECK CONSTRAINT [FK_Completed Prodecures_Completed Prodecures]
GO
ALTER TABLE [dbo].[Completed Prodecures]  WITH CHECK ADD  CONSTRAINT [FK_Completed Prodecures_Pet] FOREIGN KEY([Pet_ID])
REFERENCES [dbo].[Pet] ([Pet_ID])
GO
ALTER TABLE [dbo].[Completed Prodecures] CHECK CONSTRAINT [FK_Completed Prodecures_Pet]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [fk_invoiceOwnerID] FOREIGN KEY([Owner_ID])
REFERENCES [dbo].[Owner] ([Owner_ID])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [fk_invoiceOwnerID]
GO
ALTER TABLE [dbo].[Pet]  WITH CHECK ADD  CONSTRAINT [FK_Pet_Type_ID] FOREIGN KEY([Type_ID])
REFERENCES [dbo].[Pet_Type] ([Type_ID])
GO
ALTER TABLE [dbo].[Pet] CHECK CONSTRAINT [FK_Pet_Type_ID]
GO
ALTER TABLE [dbo].[Pet]  WITH CHECK ADD  CONSTRAINT [fk_PetOwner_ID] FOREIGN KEY([Owner_ID])
REFERENCES [dbo].[Owner] ([Owner_ID])
GO
ALTER TABLE [dbo].[Pet] CHECK CONSTRAINT [fk_PetOwner_ID]
GO
ALTER TABLE [dbo].[Pricing]  WITH CHECK ADD  CONSTRAINT [FK_Pricing_Prodecure_ID] FOREIGN KEY([Procedure_ID])
REFERENCES [dbo].[Procedure] ([Procedure_ID])
GO
ALTER TABLE [dbo].[Pricing] CHECK CONSTRAINT [FK_Pricing_Prodecure_ID]
GO
ALTER TABLE [dbo].[Pricing]  WITH CHECK ADD  CONSTRAINT [FK_Pricing_Type_ID] FOREIGN KEY([Type_ID])
REFERENCES [dbo].[Pet_Type] ([Type_ID])
GO
ALTER TABLE [dbo].[Pricing] CHECK CONSTRAINT [FK_Pricing_Type_ID]
GO
USE [master]
GO
